/* CSS declarations go here */
@font-face {
  font-family: CONFUSION GIRL;
  src: url('/fonts/CONFUSION GIRL.ttf');
}
h1 {
    font-family: CONFUSION GIRL;
    background-image: linear-gradient(to right, #d0edf5, pink 100%);
    padding: 20px 15px 15px 15px;
    width: 100%;
    height: 130px;
    position: absolute;
    left: 0px;
}
header {
    font-family: CONFUSION GIRL;
    font-size: 70px;
    position: absolute;
    left: 100px;
}
.subTheme {
    font-size:30px;
    color: grey;
}
img {
  border:50;
  alt: "Upload"; 
  width:60;
  height:70; 
}

.descTheme {
    font-family: arial;
    font-size: 15px;
    color: #999999;
    position: relative;
    left: 70px;
    bottom: 30px;
}

.buttons button {
  background-color: powderblue;
  border-radius: 6px;
  padding: 0px 0px;
  cursor: pointer;
  display: block;
  width: 400px;
  position: relative;
  margin: 30px;
}

.buttons {
  width: 800px;
  margin: 0;
  position: sticky;
  left: 500px;
}

.buttons button:hover {
  background-color: #E7D1F7;
  text-decoration: underline;
}

.buttonTop {
  font-size: 30px;
  font-family: helvetica;
  margin: 0px;
}

.buttonBottom{
  font-size: 18px;
  bottom: 30px;
  margin: 0px;
}

