/* CSS declarations go here */
@font-face {
  font-family: CONFUSION GIRL;
  src: url('/fonts/CONFUSION GIRL.ttf');
}
h1 {
    font-family: CONFUSION GIRL;
    background-image: linear-gradient(to right, #d0edf5, pink 100%);
    padding: 20px 15px 15px 15px;
    width: relative;
    height: 130px;
}
.theme {
    font-family: CONFUSION GIRL;
    font-size: 70px;
    position: absolute;
    left: 70px;
}
.subTheme {
    font-size:40px;
    color: grey;
}
img {
  border: 5;
}

.descTheme {
    font-family: arial;
    font-size: 20px;
    color: #CAC9C9;
    position: relative;
    left: 70px;
    bottom: 30px;
}

.buttons button {
  background-color: powderblue;
  border-radius: 6px;
  padding: 0px 0px;
  cursor: pointer;
  display: block;
  width: 200px;
  position: relative;
  margin: 30px;
}

.buttons {
  width: 800px;
  margin: 0px auto;
}

.buttons button:hover {
  background-color: #E7D1F7;
}

.buttonTop {
  font-size: 30px;
  font-family: helvetica;
  margin: 0px;
}

.buttonBottom{
  font-size: 18px;
  bottom: 30px;
  margin: 0px;
}

/*css for color page */

.horiz-bar button {
    background-color: dimgrey; 
    color: white; 
    border-radius: 5px;
    border-color: black;
    font-size: 30px;
    padding: 0px 0px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.horiz-bar:after {
    content: "";
    clear: both;
    display: table;
}

.horiz-bar button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.horiz-bar button:hover {
    background-color: darkgrey;
    border: 1px solid black;
}
.horiz-bar {
  float: left;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 5px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    border-radius: 50%;
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: white; 
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    border-radius: 50%;
    background: white; 
    cursor: pointer; /* Cursor on hover */
}


.vert-bar{
  float: left;
  background-color: dimgrey;
  width: 200px;
} 

.pickButton button {
  background-color: dimgrey; 
  border-color: black;
  color: white; 
  border-radius: 5px;
  width: 50%;
  height: 53px;
  font-size: 20px;
  font-family: Arial;
  padding: 0px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.coloringBody {
  width: 800px;
  margin: 0px auto;
}
