/* CSS declarations go here */
@font-face {
  font-family: CONFUSION GIRL;
  src: url('/fonts/CONFUSION GIRL.ttf');
}
h1 {
    font-family: CONFUSION GIRL;
    background-image: linear-gradient(to right, #d0edf5, pink 100%);
    padding: 20px 15px 15px 15px;
    width: 100%;
    height: 130px;
    position: absolute;
    left: 0px;
}
header {
    font-family: CONFUSION GIRL;
    font-size: 70px;
    position: absolute;
    left: 100px;
}
#left {
  width: 45%;
  float: left;
  margin-top: 150px;
}
img[src*="sample"] {
  width: 100%;
}
#right {
  width: 55%;
  float: right;
  margin-top: 200px;
}
#right ul .subTheme {
    font-size:35px;
    color: grey;
}

#right ul .subTheme img {
  width:70px;
  height:80px; 
  border: 50px;
}

#right ul .descTheme {
    font-family: arial;
    font-size: 15px;
    color: #999999;
    position: relative;
    left: 70px;
    bottom: 30px;
}

.buttons button {
  background-color: powderblue;
  border-radius: 6px;
  padding: 0px 0px;
  cursor: pointer;
  display: block;
  width: 400px;
  position: relative;
  margin: 50px;
}

.buttons {
  width: 800px;
  position: absolute;
  left: 500px;
  margin-top: 750px;
}

.buttons button:hover {
  background-color: #E7D1F7;
  text-decoration: underline;
}

.buttonTop {
  font-size: 30px;
  font-family: helvetica;
  margin: 0px;
}

.buttonBottom{
  font-size: 18px;
  bottom: 30px;
  margin: 0px;
}

/*css for color page */

.horiz-bar button {
    background-color: dimgrey; 
    color: white; 
    border-radius: 5px;
    border-color: black;
    font-size: 25px;
    height: 53px;
    padding: 0px 0px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    float: left; /* Float the buttons side by side */
}

/* Clear floats (clearfix hack) */
.horiz-bar:after {
    content: "";
    clear: both;
    display: table;
}

.horiz-bar button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.horiz-bar button:hover {
    background-color: darkgrey;
    border: 1px solid black;
}
.horiz-bar {
  float: left;
}
.slidecontainer {
    width: 100%; /* Width of the outside container */
}

/* The slider itself */
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 100%; /* Full-width */
    height: 10px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    border-radius: 5px;
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */ 
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    border-radius: 50%;
    appearance: none;
    width: 20px; /* Set a specific slider handle width */
    height: 20px; /* Slider handle height */
    background: white; 
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 10px; /* Slider handle height */
    border-radius: 50%;
    background: white; 
    cursor: pointer; /* Cursor on hover */
}


.vert-bar{
  float: left;
  background-color: dimgrey;
  width: 200px;
} 

.vert-bar button:hover {
  background-color: darkgrey;
  border: 1px solid black;
}

.pickButton button {
  background-color: dimgrey; 
  border-color: black;
  color: white; 
  border-radius: 5px;
  width: 50%;
  height: 53px;
  font-size: 20px;
  font-family: Arial;
  padding: 0px 10px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
  float: left; /* Float the buttons side by side */
}

.selectButton {
  float: left;
}

.selectButton button {
  padding: 0px 5px;
}

.coloringBody {
  width: 800px;
  margin: 0px auto;
  top: 150px;
  float: top;
  position: relative;
}

.canvas-container {
  float: left;
  background-color: white;
}

#eyedropperImg {
  width: 50px;
  height: 50px;
  -webkit-filter: invert(100%);
}

#undoImg {
  width: 52px;
  height: 50px;
  -webkit-filter: invert(100%);
}

#redoImg {
  width:52px;
  height:50px;
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: invert(100%);
}

#zoomInImg {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(100%); 
  margin: 10px;
}

#zoomOutImg {
  width: 30px;
  height: 30px;
  -webkit-filter: invert(100%); 
  margin: 10px;
}

#saveButton {
  height: 53px;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
